.completo{
    background-color:bisque;    
    width: 1000px;
    margin-left: 160px;
    text-align: center;
}

#ingresartarea{
    width: 500px;
    height: 40px;
    
}

#agregarboton{
    width: 60px;
    height: 45px;
}

li{
    background-color: burlywood;
    display: flex;
    width: 500px;
  
}


.delete{
    margin-right: 1000px;    
}
